<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>WebSosanh.com</title>
  <link rel="stylesheet" href="./css/css.css">
  <link rel="stylesheet" href="./css/Thumbnails.css">
  <script src="./js/bootstrap.js"></script>
  <script src="./js/popper.js" ></script>
  <script src="./js/jquery.js" ></script>
  <link href="./css/all.min.css" rel="stylesheet" type="text/css">
  <link href="./css/sb-admin-2.min.css" rel="stylesheet">
  
 
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{route('')}}">
          
        <div class="sidebar-brand-text mx-3">Betting.com</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

     
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Danh mục
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            
          <span>Điện thoại</span>
        </a>
        
      </li>
    </ul>
  


  

    
<!-- Footer -->
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  
  <script type="text/javascript">
  // Using jQuery.
  $(function() {
      $('form').each(function() {
          $(this).find('input').keypress(function(e) {
              // Enter pressed?
              if(e.which == 10 || e.which == 13) {
                  this.form.submit();
              }
          });
          $(this).find('input[type=submit]').hide();
      });
  });
  </script>

  


</body>

</html>