<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>WebSosanh.com</title>
  <link rel="stylesheet" href="./css/css.css">
  <link rel="stylesheet" href="./css/Thumbnails.css">
  <script src="./js/bootstrap.js"></script>
  <script src="./js/popper.js" ></script>
  <script src="./js/jquery.js" ></script>
  <link href="./css/all.min.css" rel="stylesheet" type="text/css">
  <link href="./css/sb-admin-2.min.css" rel="stylesheet">
  
 
</head>

<body id="page-top">
  <h1>Tạo kèo</h1>
<form class="form-inline" action="/add_game" method="post">
  <label for="TeamA">TeamA</label>
  <input type="text" class="form-control" name="TeamA" id="TeamA" value="">
  <label for="TeamB">TeamB</label>
  <input type="text" class="form-control" name="TeamB" id="TeamB" value="">
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr>
<a href="/get_game"><input type="submit" name="" value="xem"></a>
<hr>
<a href="/xet_win">Xét team win</a>

</body>

</html>