<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>WebSosanh.com</title>
  <link rel="stylesheet" href="./css/css.css">
  <link rel="stylesheet" href="./css/Thumbnails.css">
  <script src="./js/bootstrap.js"></script>
  <script src="./js/popper.js" ></script>
  <script src="./js/jquery.js" ></script>
  <link href="./css/all.min.css" rel="stylesheet" type="text/css">
  <link href="./css/sb-admin-2.min.css" rel="stylesheet">
  
 
</head>

<body id="page-top">
<form class="form" action="/xet_win" method="post">
  <h1>Xét team Win</h1>
  <select name="team" id="team">
    <option value="1"> <%= TeamA %> </option>
    <option value="2"> <%= TeamB %> </option>
  </select>
  <button type="submit" class="btn btn-primary">Submit</button>
  
</form>
 
</body>

</html>